<!DOCTYPE html>
<html lang="en" ng-app="myInstaApp">
<head>
	<meta charset="UTF-8">
	<link href="http://netdna.bootstrapcdn.com/bootswatch/3.1.1/yeti/bootstrap.min.css" rel="stylesheet">
	<link rel="stylesheet" href="style.css">
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
	<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.0/angular-messages.js"></script>
	<title>Instagram Searcher</title>
</head>
<body>
	<div class="container" ng-controller="myCtrl">
		<h1>Instagram Searcher</h1>
		<form class="searchForm" name="searchForm" ng-submit="submit(searchForm)" novalidate>
			<input type="text" class="searchbox" ng-model="tag" required><button type="submit">Submit</button>
		</form>
		<div class="waitText" ng-show="waitText">Searching Instragram for photos tagged with "{{tag}}"...</div>
		<div class="resMessages" ng-messages="res">
			<div class="searchResultText" ng-message="foundResult">We found {{numberResult}} results for "{{copySearchTag}}"</div>
			<div class="alertMsg" ng-message="noResult">{{res.noResult}}</div>
			<div class="errorMsg" ng-message="errorServer">Sorry, there was a server error while making your request.</div>
		</div>
		
		<div class="imagesWrapper">
			<div class="row" ng-repeat="item in items" track by $index" ng-if="$index%4==0"">
				<div class="col-sm-4"><a target="_blank" href="{{items[$index].link}}"><img ng-src="{{items[$index].url}}"></a></div>
				<div class="col-sm-4"><a target="_blank"href="{{items[$index+1].link}}"><img ng-src="{{items[$index + 1].url}}"></a></div>
				<div class="col-sm-4"><a target="_blank" href="{{items[$index+2].link}}"><img ng-src="{{items[$index + 2].url}}"></div></a>
			</div>
		</div>
		
		
	</div>
	
	<script src="script.js"></script>
</body>
</html>
